@import url("common.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}





.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #00298f;
}

.details {
    margin-top: 20px;
}

.details p {
    margin: 10px 0;
    font-size: 16px;
}

.details span {
    font-weight: bold;
}

a {
    color: #00298f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.comments {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.comments h2 {
    color: #00298f;
    margin-bottom: 20px;
}

.comments ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comments li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.comments p {
    margin: 5px 0;
}

.comments form {
    margin-top: 20px;
}

.comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

.comments button {
    padding: 10px 20px;
    background-color: #00298f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comments button:hover {
    background-color: #1c44a3;
}


