@import url("common.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}





.content {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

h2 {
    color: var(--header-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--header-color);
    color: white;
    text-align: center;
}

tr:hover {
    background-color: #f1f1f1;
}

.no-results {
    text-align: center;
    color: #666;
    font-size: 18px;
}