<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <!-- Header with logo only -->
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/static/nycuflix.png" alt="Movie Catalog Logo">
            </a>
        </div>
    </div>

    <div class="container">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
			<div>
				<label for="username_or_email">Username or Email:</label>
				<input type="text" id="username_or_email" name="username_or_email" placeholder="Enter your username or email" required>
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" placeholder="Enter your password" required>
			</div>
			<!-- Hidden field for 'next' -->
			<input type="hidden" name="next" value="{{ next }}">
			<button type="submit" class="login-btn">
				{% include 'svg_icons/user.html' %}
			</button>
		</form>

        <div class="signup-link">
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>

        <!-- Flash Messages -->
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="flash-messages">
				<ul>
					{% for category, message in messages %}
						<li class="{{ category }}">{{ message }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% endwith %}
    </div>

    <footer>
        &copy; 2025 DYNAMIC WEB PROGRAMMING FINAL PROJECT. All rights reserved.
    </footer>
</body>
</html>
