<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/static/nycuflix.png" alt="Movie Catalog Logo">
            </a>
        </div>
        <div class="search-container">
            <form method="GET" action="/search">
                <input type="text" id="search-query" name="query" placeholder="Search for movies..." required autocomplete="off">
                <button type="submit">Search</button>
            </form>
        </div>
        <!-- Hardcoded Fallback -->
        <div style="display: flex; align-items: center; gap: 10px;"></divstyle>
            {% if is_logged_in %}
                <a href="/logout" style="text-decoration: none; padding: 5px 10px; background: #007BFF; color: white; border-radius: 5px;">Logout ({{ username }})</a>

                {% if display_role %}
                    <!-- Admin link to redirect to the Admin Dashboard -->
                    <a href="/admin" style="text-decoration: none; padding: 5px 10px; background: #007BFF; color: white; border-radius: 5px;">Admin Dashboard</a>
				{% endif %}
            {% else %}
                <a href="/login" style="text-decoration: none; padding: 5px 10px; background: #007BFF; color: white; border-radius: 5px;">Login/Sign Up</a>
            {% endif %}
        </div>
    </div>


    <div class="content">
        <h2>Search Results for "{{ query }}"</h2>
    
        {% if title_matches %}
            <h3>Matches in Titles</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Overview</th>
                </tr>
                {% for movie in title_matches %}
                <tr>
                    <td><a href="/movie/{{ movie['movieId'] }}">{{ movie['title'] }}</a></td>
                    <td>{{ movie['overview'] }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    
        {% if keyword_matches %}
            <h3>Matches in Keywords</h3>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Overview</th>
                </tr>
                {% for movie in keyword_matches %}
                <tr>
                    <td><a href="/movie/{{ movie['movieId'] }}">{{ movie['title'] }}</a></td>
                    <td>{{ movie['overview'] }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    
        {% if not search_results %}
            <p class="no-results">No results found for your search. Please try again.</p>
        {% endif %}
    </div>
    
</body>
</html>
